/*  your css code here. If applicable */
.body{
	 background-color: #f6f6f6;
}
.library-title {
  text-align: center;
  margin: 20px 0;
}
.book{
	display:flex;
	align-items:center;
	justify-content:space-between;
	background-color: #fff;
	 border-radius: 6px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.book img{
	height:200px;
	object-fit:cover;
}
.book-details {
  flex: 1;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-details h2 {
  margin: 0;
  font-size: 1.2rem;
}

.book-details p {
  margin: 5px 0 15px;
  color: #555;
}

.price {
  background-color: #28a745; /* green */
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  width: 150px;
}





